<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mualab.org.user">

    <uses-sdk tools:overrideLibrary="com.facebook, android.support.customtabs, net.ypresto.androidtranscoder" />
    <!-- All nesassery permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- All nesassery hardware -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <protected-broadcast android:name="com.motorola.motocare.INTENT_TRIGGER" />

    <application
        android:name=".application.Mualab"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">

        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="ChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="koobi.co.uk"
                    android:pathPrefix="/feedDetail"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.authentication.RegistrationActivity" />
        <activity
            android:name=".activity.authentication.Registration2Activity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".image.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.artist_profile.activity.ArtistProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.myprofile.activity.activity.UserProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <provider
            android:name=".application.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnFGTrGe8dJKMnrcinn1edleHCB_yZI5U" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".activity.feeds.service.UploadImageService"
            android:exported="true" />
        <service
            android:name=".activity.feeds.service.UploadVideoService"
            android:exported="true" />

        <activity
            android:name=".activity.feeds.activity.FeedSingleActivity"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.authentication.ChooseCountryActivity"
            android:label="@string/country_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.authentication.AddAddressActivity"
            android:label="@string/address_activity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.searchBoard.activity.RefineArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.myprofile.activity.activity.EditProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.myprofile.activity.activity.OtpVerification"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.feeds.activity.LikeFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.feeds.activity.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.artist_profile.activity.FollowersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.authentication.ForgotPasswordActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.authentication.InstaLoginActivity" />
        <activity
            android:name=".activity.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Camera" />
        <activity
            android:name=".activity.gellery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity android:name=".activity.gellery.CustomCameraActivity" />
        <activity
            android:name=".activity.feeds.activity.FeedPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.story.StoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Camera" />
        <activity android:name=".activity.feeds.activity.PreviewImageActivity" />
        <activity
            android:name=".activity.video_trim.VideoTrimmerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f584c59e1354706f33ae4e5508ac9cb630282533" />

        <activity
            android:name=".activity.feeds.activity.ReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.feeds.activity.TextTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.explore.SearchFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.explore.ExplorSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.account_merge.MergeAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.artist_profile.activity.CertificateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.artist_profile.activity.CertificateDescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.artist_profile.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.businessInvitaion.activity.InvitationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.businessInvitaion.activity.InvitationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.artist_profile.activity.ArtistServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.artist_profile.activity.ArtistServiceDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.booking.BookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.booking.BookingConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.booking.VoucherCodesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.booking.WorkingHourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.booking.BookingHisoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.booking.BookingDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.booking.TrackingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.payment.AllCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.payment.PaymentCheckOutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.review_rating.ReviewRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" /> <!-- ........chat module............ -->
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_new" /> <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        -->
        <activity
            android:name=".chat.ChatHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ShowZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.GroupChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".chat.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.AddMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".chat.RemoveMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".chat.JoinGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.brodcasting.AddMemberToBrodcastActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.brodcasting.BroadCastChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.brodcasting.BroadcastDetails"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.brodcasting.RemoveBroadcastMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.GroupRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.JoinNewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.MakeAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.ReportChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.businessInvitaion.activity.CompanyServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.businessInvitaion.activity.ServiceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.tag_module.activity.PeopleTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.tag_module.activity.ServiceTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".chat.CreateNewChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.authentication.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.feeds.activity.SaveToFolderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.feeds.activity.FolderFeedsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.businessInvitaion.activity.OperationHoursActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.share_module.FindInContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.share_module.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.feeds.activity.EditCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.artist_profile.activity.ReportUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.settings.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".activity.explore.TopDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />

    </application>

</manifest>